<section class="p-container grid w-full grid-cols-2 gap-3 pb-15 md:grid-cols-4 md:gap-5 md:pt-0 md:pb-20">
  <div class="" module="Layout_project">
    <a href="{$link_product_project}" class="relative block h-54 overflow-hidden rounded-lg md:h-62.5 md:w-full">
      <img src="{$category_image}" alt="{$category_name}" class="absolute inset-0 size-full object-cover" />
      <div class="absolute bottom-0 p-4 md:p-5">
        <span class="text-l6 md:text-l5 text-on-color">
          {$category_text}
        </span>
      </div>
    </a>
  </div>
</section>