<section id="hero" module="custom_moduleedit_1" class="p-container">
  <div class="relative aspect-4/5 overflow-hidden rounded-lg md:aspect-2/1">
    <!-- Slides -->
    <div class="swiper-container relative h-full w-full overflow-hidden">
      <div class="swiper-wrapper flex h-full">
        <!-- Slide 1 -->
        <div class="swiper-slide relative h-full w-full shrink-0 transition-opacity">
          <picture>
            <img
              src="https://ecimg.cafe24img.com/pg2761b01354194048/jinhok96/web/upload/img_hero1.jpg"
              alt="메인 배너 1"
              class="absolute inset-0 h-full w-full object-cover" />
          </picture>
          <div class="absolute inset-0 bg-linear-to-b from-transparent to-black/40"></div>
          <div
            class="absolute right-6 bottom-10 left-6 flex flex-col gap-6 md:right-14 md:bottom-20 md:left-14 md:gap-10">
            <div class="flex flex-col gap-2 md:gap-3">
              <p class="text-h3 md:text-h2 text-on-color">
                메인 배너
                <br />
                프로모션 타이틀명
              </p>
              <p class="text-l6 md:text-l5 text-on-color">
                프로모션 간략 설명
                <br />
                이벤트 기간, 회원 혜택, 할인율 등
              </p>
            </div>
            <a
              href="/product/list.html"
              class="border-color-primary text-secondary text-l6 md:text-l5 w-fit rounded border bg-white px-3 py-2 md:px-4 md:py-3">
              더 알아보기
            </a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide relative h-full w-full shrink-0 transition-opacity">
          <picture>
            <img
              src="https://ecimg.cafe24img.com/pg2761b01354194048/jinhok96/web/upload/img_hero2.jpg"
              alt="메인 배너 2"
              class="absolute inset-0 h-full w-full object-cover" />
          </picture>
          <div class="absolute inset-0 bg-linear-to-b from-transparent to-black/40"></div>
          <div
            class="absolute right-6 bottom-10 left-6 flex flex-col gap-6 md:right-14 md:bottom-20 md:left-14 md:gap-10">
            <div class="flex flex-col gap-2 md:gap-3">
              <p class="text-h3 md:text-h2 text-on-color">
                메인 배너
                <br />
                프로모션 타이틀명
              </p>
              <p class="text-l6 md:text-l5 text-on-color">
                프로모션 간략 설명
                <br />
                이벤트 기간, 회원 혜택, 할인율 등
              </p>
            </div>
            <a
              href="/product/list.html"
              class="border-color-primary text-secondary text-l6 md:text-l5 w-fit rounded border bg-white px-3 py-2 md:px-4 md:py-3">
              더 알아보기
            </a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide relative h-full w-full shrink-0 transition-opacity">
          <picture>
            <img
              src="https://ecimg.cafe24img.com/pg2761b01354194048/jinhok96/web/upload/img_hero3.jpg"
              alt="메인 배너 3"
              class="absolute inset-0 h-full w-full object-cover" />
          </picture>
          <div class="absolute inset-0 bg-linear-to-b from-transparent to-black/40"></div>
          <div
            class="absolute right-6 bottom-10 left-6 flex flex-col gap-6 md:right-14 md:bottom-20 md:left-14 md:gap-10">
            <div class="flex flex-col gap-2 md:gap-3">
              <p class="text-h3 md:text-h2 text-on-color">
                메인 배너
                <br />
                프로모션 타이틀명
              </p>
              <p class="text-l6 md:text-l5 text-on-color">
                프로모션 간략 설명
                <br />
                이벤트 기간, 회원 혜택, 할인율 등
              </p>
            </div>
            <a
              href="/product/list.html"
              class="border-color-primary text-secondary text-l6 md:text-l5 w-fit rounded border bg-white px-3 py-2 md:px-4 md:py-3">
              더 알아보기
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination Bar -->
    <div class="absolute top-0 right-0 left-0 px-6 pt-4 md:px-14 md:pt-6">
      <div id="heroPagination" class="flex w-full gap-2"></div>
    </div>
  </div>
</section>
