<table module="product_option">
  <!--
    $use_per_add_option = yes
  -->
  <tbody module="product_option">
    <tr class="flex flex-col items-start gap-1">
      <th class="text-c1 text-secondary">{$option_name}</th>
      <td
        class="[&_ul_li_a_span]:text-c2 [&_ul]:flex [&_ul]:items-start [&_ul]:gap-1 [&_ul_li]:w-11 [&_ul_li_a]:flex [&_ul_li_a]:flex-col [&_ul_li_a]:items-center [&_ul_li_a_img]:aspect-4/5 [&_ul_li_a_img]:rounded-xs [&_ul_li_a_span]:py-1 [&_ul_li_a_span]:break-keep [&_ul_li_span]:text-center">
        {$form.option}
      </td>
    </tr>
  </tbody>
</table>
