<div class="flex flex-col gap-2">
  <!--@import(/layout/product/product.html)-->

  <!--색상 옵션-->
  <div module="product_Colorchip" class="flex items-center gap-2 py-2">
    <div
      class="border-color-primary bg-primary relative flex aspect-square w-5 items-center justify-center rounded border">
      <div
        class="chips size-4 overflow-hidden rounded-xs"
        style="background-color:{$color};"
        title="{$color_name}"></div>
    </div>
    <div
      class="border-color-primary bg-primary relative flex aspect-square w-5 items-center justify-center rounded border">
      <div
        class="chips size-4 overflow-hidden rounded-xs"
        style="background-color:{$color};"
        title="{$color_name}"></div>
    </div>
  </div>
</div>
