@layer base {
  :root {
    /* Spacing */
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-60: 60px;
    --spacing-80: 80px;

    /* Layout */
    --layout-header-height: 48px;
    --layout-content-max-width: 1440px;
    --layout-container-padding: var(--spacing-16);
    --layout-section-gap: var(--spacing-80);

    /* Product */
    --product-card-ratio: 4 / 5;
    --product-grid-cols: 2;
    --product-grid-gap: var(--spacing-20);
  }

  @media (min-width: 768px) {
    :root {
      --layout-header-height: 56px;
      --layout-container-padding: var(--spacing-24);
      --product-grid-cols: 5;
    }
  }
}

@utility px-container {
  padding-left: var(--layout-container-padding);
  padding-right: var(--layout-container-padding);
}

@utility py-container {
  padding-top: var(--layout-container-padding);
  padding-bottom: var(--layout-container-padding);
}

@utility p-container {
  @apply px-container py-container;
}

@utility mx-container {
  margin-left: var(--layout-container-padding);
  margin-right: var(--layout-container-padding);
}

@utility my-container {
  margin-top: var(--layout-container-padding);
  margin-bottom: var(--layout-container-padding);
}

@utility m-container {
  @apply mx-container my-container;
}
